@keyframes tiddieJiggle {
    from {
        top: 50%;
        left: 50.5%;
    }
    to {
        top: 50%;
        left: 49.5%;
    }
}

.bg {
    background-color: #f5e79e;
}

.tiddies {
    position: absolute;
    animation-name: tiddieJiggle;
    animation-duration: 200ms;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}